body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=submit], input[type=button] {
  background-color: white;
  color:mediumslateblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edt-btn {
    background-color: firebrick;
}

input[type=submit]:hover {
  background-color:lightslategrey;
}

input[type=button]:hover {
    background-color:lightslategrey;
  }

.container {
  border-radius: 5px;
  color:white;
  padding: 20px;
  width: 60%;
  margin: auto auto;
}