.records{
    display: flex;
    width: 80%;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px 15px;
    text-align: center;
    font-family: arial;
    background-color:rgb(255, 245, 238, 0.9);
    padding: 15px 15px;
  }

  .numbers{
      display: flex;
      padding: 20px 20px;
  }

  .pat, .dea {
      padding: 10px 15px;
      font-size: 16px;
      width: 50%;
  }

  .pat {
      border-right: 1.5px indigo solid;
  }

  .pat span, .dea span{
      font-size: 32px;
      color:mediumslateblue;
  }
.sortgroup{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    color:white;
}

.sort{
    margin-right: 30px;
}

input[type="submit"]{
  background-color:white; /* Green */
  border: none;
  border-radius: 10%;
  color:mediumslateblue;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.custom-select {
    position: relative;
    font-family: Arial;
    display: inline-block;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: white;
    color:mediumslateblue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: mediumslateblue transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent mediumslateblue transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color:mediumslateblue;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    color:mediumslateblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }