<HTML>

	<HEAD>
	 <TITLE> Example of work with tags. Formatting	</TITLE>
	</HEAD>
	  <BODY BGCOLOR = yellow TEXT = blue>

		<H1> This is the title of the first level </H1>
		<H2> This is the title of the second level </H1>

		<OL> This is an example of numbered list
		  <LI> First element
		  <LI> Second element
		  <LI> The third element
		</OL>

		<UL TYPE = DISC> This is an example unnumbered list
		  <LI> First element
		  <LI> Second element
		  <LI> The third element
		</UL>

		<I> This is italic </I>
		<B> This is bold font </B>
		<U> This text is underlined </U>
		<SUP> This superscript </SUP>
		<SUB> This is the subscript </SUB>
		<BR> This is the beginning of a new paragraph.

		<BIG> This is large front </BIG>
		<SMALL> This is a small text </SMALL>
		<STRIKE> This is strikethrouhg text </STRIKE>
		<BR> <BR>

		<MARQUEE> THIS TEXT TICKER </MARQUEE>
	</BODY>
</HTML>