{% extends "base.html" %}

{% block content %}
<div class="container theme-showcase" role="main" style="margin-top: 75px">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="about">
        <div class="text">
            <span class="nusom">NUSOM.data</span> is a website for accessing and writing records of diseases in different countries. Records are created by public servants who are studying and/or working at Nazarbayev University School of Medicine. Records are created on diseases which NUSOM doctors are specialized at. You can find more information via links in the naviagtion bar.<br><br>
            Nazarbayev University School of Medicine (NUSOM) was established to improve the quality of medical education in the Republic of Kazakhstan and to contribute to the transformation of the health care system required to meet the challenges of the health care reform of the country. It will offer the Republic’s first U.S.-style curriculum, taught in English by a diverse faculty of clinicians and biomedical scientists recruited from around the globe.
          </div>
          <div class="image">
              <img src="/static/nusom.jpg" width="100%" max-height="100%">
          </div>
    </div>
</div>
{% endblock %}