{% extends "base.html" %}
{% block title %}{{ super() }} | My Contributions {% endblock %}
{% block style %} <link rel="stylesheet" href="{{url_for('static', filename='mycontrs.css')}}">
<script>
    $(document).ready(function() {
    if($_SESSION['logged_in'] == 1) {
        ("body").hide();
    }

       $(" [class*='dis-edt-btn-']").click(function(){
        var form = $(this).closest("form");
        $("." + form.attr('class')+ " input[type=button]").hide();
        $("." + form.attr('class')+ " input[type=submit]").show();
        $("." + form.attr('class')+ ' input[type=text]').removeAttr('disabled');
        $("." + form.attr('class')+ ' textarea').removeAttr('disabled');
    });

    $(" [class*='dis-done-btn-']").click(function(){
        var form = $(this).closest("form");
        form.attr('method','post');
        form.attr('action','/diseaseedit');
    });

    $(" [class*='dis-del-btn-']").click(function(){
        var name = $(this).attr('class');
        name = name.substring(12);
        var form = $(this).closest("form");
        form.attr('method','post');
        form.attr('action','/diseasedelete/' + name);
    });

    $( "[class*='my-dis-form-'] input[type=text], [class*='my-dis-form-'] textarea" ).attr('disabled','disabled');
    $( "[class*='dis-done-btn-']" ).hide();
});
</script> {% endblock %}
{% block content %}
<div class="contr">
<div class="crt-rcr">
    <div class="dis-crt">
    <center><h3>Add a new disease type</h3></center>
    <form class="dtype" action="{{url_for('dtype')}}" method="POST">
        <label for="newtype">Enter a new disease type</label>
        <input type="text" id="newtype" name="name" value="" placeholder="Disease type name">
        <label for="descr" >Description</label>
        <textarea id="descr" name="description" placeholder="Describe the disease type..." style="height:200px"></textarea>
        <input id="dtypes-sbt-btn" type="submit" value="Done">
    </form>
    </div>
    {% if dtypes %}
    <div class="dis-upd">
    <center><h3>Add a new disease</h3></center>
    <form class="disease" action="{{url_for('disease')}}" method="POST">
        <label for="disease_code">Disease type</label>
        <select id="country" name="dtype">
      {% for dt in dtypes %}
    <option value="{{ dt.name }}">{{ dt.name }}</option>>
        {% endfor %}
    </select>
  <br>
        <label for="disease_code">Disease code</label>
        <input type="text"  name="dis_code" value="" placeholder="">
        <label for="disease_name">Disease name</label>
        <input type="text"  name="dis_name" value="" placeholder=""> 
        <label for="disease_pathogen">Disease pathogen</label>
        <input type="text"  name="dis_path" value="" placeholder="">
        <label for="dis_year">Discovered year</label>
        <input type="text"  name="dis_year" value="" placeholder=""> 
        <label for="country">Country</label>
<select id="country" name="dis_country">
  <option value="Kazakhstan">Kazakhstan</option>
  <option value="UK">UK</option>
  <option value="USA">USA</option>
  <option value="Russia">Russia</option>
  <option value="China">China</option>
  <option value="Australia">Australia</option>
  <option value="France">France</option>
  <option value="Morocco">Morocco</option>
  <option value="Bolivia">Bolivia</option>
</select>
        <label for="descr" display="block">Description</label>
        <textarea name="description" placeholder="Describe the disease ..." style="height:200px"></textarea>
        <input type="submit" id="disease-sbt-btn" value="Done">
    </form>
    </div>
    {% endif %}
</div>
{% if res %}
<center><h2>My contributions</h2></center>
<div class="records">
    {% for r in res %}
    <div class="card">
        <h2>{{r.dtype.name}}</h2>
        <p>{{r.dtype.description}}</p>
        {% for disease in r.diseases %}
        <div>
            <form class="my-dis-form-{{disease[0].dis_id}}" action="{{url_for('mycontrs')}}" method="get">

                <label for="fname">Disease name</label>
                <input type="text" id="name" name="name" value="{{disease[0].disease_name}}">
            
                <label for="lname">Disease code</label>
                <input type="text" id="sname" name="code" value="{{disease[0].disease_code}}">
            
                <label for="country">Disease pathogen</label>
                <input type="text" id="country" name="pathogen" value="{{disease[0].pathogen}}">

                <label for="descr" display="block">Disease description</label>
                <textarea name="description" style="height:200px">{{disease[0].description}}</textarea>
          
                <label for="country">Discovered country</label>
                <input type="text" id="phone" name="cname" value="{{disease[1].cname}}">
          
                <label for="country">Discovered year</label>
                <input type="text" id="salary" name="date" value="{{disease[1].first_enc_date}}">

                <input type="hidden" id="id" name="id" value="{{disease[0].dis_id}}">
          
                <input type="button" value="Edit" class="dis-edt-btn-{{disease[0].dis_id}}">
                <input type="submit" value="Done" class="dis-done-btn-{{disease[0].dis_id}}">
                <input type="submit" value="Delete" class="dis-del-btn-{{disease[0].dis_id}}">
            
              </form>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
