{% extends "base.html" %}
{% block title %}{{ super() }} | Records {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='records.css')}}">
{% endblock %}
{% block content %}
<center><h2>Public Servants</h2></center>
<div class="records">
    {% for (doctor, user) in doctors %}
    <div class="card">
        <p>Name: {{user.name}}  {{user.surname}}</p>
        <p>Department: {{doctor.department}}</p>
        <p>Email: {{user.email}}</p>
        <p>Country: {{user.cname}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}